.pieContainer {
  background-color: white;
  width: 256px;
  height: 330px;
  top: 40px;
  margin-left: 15px;
  padding: 5px 0px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.chartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
