
.taskContainer {
    background-color: white;
    width: 420px;
    height: 330px;
    margin-left: 15px;
    padding: 15px;
    border-radius: 20px;
  }
  
  
  .heading {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  
  .taskList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    max-height: 270px;
    scrollbar-width: none;
  }
  .taskList::-webkit-scrollbar {
  display: none;
}
  

  .taskCard {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
  }
  
  
  .profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
 
  .taskInfo {
    display: flex;
    flex-direction: column;
  }
  
  
  .clientName {
    font-weight: bold;
  }
  
  
  .remark {
    font-size: 14px;
  }
  