.sidebar {
  width: 211px;
  height: 100vh;
  background: #fab12f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  position: absolute;
  top: 0;
  left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.menu {
  list-style: none;
  padding-top: 40px;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px 10px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  position: relative;
  transition: all 0.3s ease;
}

.menu li:hover {
  color: #d95f0e;
  font-size: 22px;
}

.menu li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 52px;
  background: #d95f0e;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  opacity: 0;
  transition: opacity 0.3s ease, width 0.3s ease;
}

.menu li:hover::before {
  opacity: 1;
  width: 16px;
}

.logout {
  padding-top: 150px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
}
